<h2>Welcome, <%= @user.username %></h2>
<h3>Create New Tweet</h3>

<br>

<form action="/tweets" method="post">
  <label>What's on your mind?</label>
  <input type="text" name="content" id="content">

  <input type="submit" value="submit">
</form>

 
