<h1>Fwitter</h1>
<h3>User Signup</h3>

<form action='/signup' method='post'>
  <label for='username'>Create Username: </label>
  <input type='text' id='username' name='user[:username]'>
  <label for='password'>Create Password: </label>
  <input type='password' id='password' name='user[:password]'>
  <br>
  <input type='submit' value='Create User'>

</form>
