<h1>Fwitter</h1>
<h3>User Signup</h3>

<form action='/signup' method='post'>

  <label for='username'>Create Username: </label>
  <input type='text' id='username' name='username' required><br><br>
  <label for='email'>Create Email: </label>
  <input type='email' id='email' name='email' required><br><br>
  <label for='password'>Create Password: </label>
  <input type='password' id='password' name='password' required>
  <br>
  <br>
  <input type='submit' value='Create User'>
</form>
